@model Nika1337.Library.Domain.RequestFeatures.PagedList<Nika1337.Library.Presentation.Models.Genres.GenreViewModel>

@{
    ViewData["Title"] = "Genres";
    Layout = "_ServerSideCardTableLayout";

    var breadcrumbItems = new List<BreadcrumbItem>
    {
        new()
        {
            Label = "Genres",
            Url = "/Genres"
        },
    };
}

@section Breadcrumb {
    @await Html.PartialAsync("_BreadcrumbPartial", breadcrumbItems)
}

@section Paging {
    @await Html.PartialAsync("_PagingPartial", Model.MetaData)
}

@section Cards {
    @foreach (var genre in Model)
    {
        <a class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-4 list-card" href="/Genres/@genre.Id" style="text-decoration:none; color:black">
            <div class="card h-100 shadow-sm d-flex flex-column">
                <div class="card-header d-flex justify-content-between align-items-center text-white">
                    <span class="card-header-name">@genre.Name</span>
                    @if (!genre.DeletedDate.HasValue)
                    {
                        <span class="badge bg-success badge-sm">Active</span>
                    }
                    else
                    {
                        <span class="badge bg-danger badge-sm">Deleted</span>
                    }
                </div>
                <div class="card-body d-flex flex-column justify-content-between">
                    <div class="property">
                        <span>@genre.Description</span>
                    </div>
                </div>
            </div>
        </a>
    }
}

@section Table {
    <table id="table" class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var genre in Model)
            {
                <tr class="table-row">
                    <td>@genre.Name</td>
                    <td class="table-description">@genre.Description</td>
                    <td>
                        @if (!genre.DeletedDate.HasValue)
                        {
                            <span class="badge bg-success">Active</span>
                        }
                        else
                        {
                            <span class="badge bg-danger">Deleted</span>
                        }
                    </td>
                    <td class="no-wrap">
                        <a href="/Genres/@genre.Id" class="btn btn-info btn-sm">View Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section Fab {
    <a href="/Genres/AddGenre" class="btn btn-primary btn-lg shadow-sm myfab">
        Add Genre
    </a>
}

@section Scripts {
    <script>
        const viewName = "Genres";
    </script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/Books/Genres/Genres.css" asp-append-version="true" />
}
