@model Nika1337.Library.Presentation.Models.Rooms.RoomDetailedViewModel

@{
    Layout = "_DetailLayout";
    ViewData["Title"] = Model.RoomNumber;
    var userAction = Model.DeletedDate == null ? "Delete" : "Renew";
    var actionButtonClass = Model.DeletedDate == null ? "btn-danger" : "btn-warning";

    var breadcrumbItems = new List<BreadcrumbItem>
    {
        new()
        {
            Label = "Rooms",
            Url = "/Rooms"
        },
        new()
        {
            Label = "Details",
            Url = $"/Rooms/{Model.Id}"
        }
    };
}

@section Breadcrumb {
    @await Html.PartialAsync("_BreadcrumbPartial", breadcrumbItems)
}

<form asp-route="Location/Rooms/" method="post" class="needs-validation" novalidate>
    <div class="row justify-content-center">
        <div class="col-xl-8">
            <div class="card mb-4">
                <h5 class="card-header">Add Room</h5>
                <div class="card-body">
                    <input type="hidden" asp-for="Id" />

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label asp-for="Floor" class="form-label"></label>
                                <input asp-for="Floor" class="form-control" type="number" />
                                <span asp-validation-for="Floor" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label asp-for="RoomNumber" class="form-label"></label>
                                <input asp-for="RoomNumber" class="form-control" />
                                <span asp-validation-for="RoomNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label asp-for="MaxCapacityOfPeople" class="form-label"></label>
                                <input asp-for="MaxCapacityOfPeople" class="form-control" type="number" />
                                <span asp-validation-for="MaxCapacityOfPeople" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label asp-for="DeletedDate" class="form-label"></label>
                                <input asp-for="DeletedDate" class="form-control" type="date" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="d-flex align-items-end justify-content-end myfab-container">
                        <div class="d-flex flex-column">
                            <button type="submit" class="btn btn-primary myfab mb-2">Save Changes</button>
                            <button type="button" class="btn @actionButtonClass myfab" data-bs-toggle="modal" data-bs-target="#actionModal">@userAction</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section ActionModal {
    @await Html.PartialAsync("_ActionConfirmationModalPartial", new Nika1337.Library.Presentation.Models.Shared.ActionConfirmationModalViewModel(userAction, actionButtonClass, "Room"))
}

@section Error {
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="d-flex flex-column align-items-center">
            <div class="alert alert-danger" style="width: fit-content">
                @Model.ErrorMessage
            </div>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script src="~/js/Shared/ActionModal.js"></script>
    <script src="~/js/Library/Rooms/Room.js"></script>

    <script>
        const id = '@Model.Id';
        const userAction = '@userAction';
    </script>
}
