
.offcanvas {
    width: 100%;
}

@@media (min-width: 992px) {
    .offcanvas {
        width: 300px;
    }
}

.list-group-item {
    width: 100%;
    box-sizing: border-box;
}

.offcanvas-body .list-group {
    width: 100%;
}

.list-group-item.selected {
    z-index: 2;
    color: #fff;
    background-color: var(--bs-secondary);
    border-color: var(--bs-secondary);
}

.loading-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    font-size: 2rem;
}