@model Nika1337.Library.Presentation.Models.Publishers.PublisherCreateViewModel

@{
    Layout = "_DetailLayout";
    ViewData["Title"] = "Add Publisher";

    var breadcrumbItems = new List<BreadcrumbItem>
    {
        new()
        {
            Label = "Publishers",
            Url = "/Publishers"
        },
        new()
        {
            Label = "Add",
            Url = "/Publishers/AddPublisher"
        }
    };
}

@section Breadcrumb {
    @await Html.PartialAsync("_BreadcrumbPartial", breadcrumbItems)
}


<form asp-action="AddPublisher" method="post" class="needs-validation" novalidate>
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="card mb-4">
                <h5 class="card-header">Add Room</h5>
                <div class="card-body">
                    <div class="mb-3">
                        <div class="form-group">
                            <label asp-for="PublisherName" class="form-label"></label>
                            <input asp-for="PublisherName" class="form-control" />
                            <span asp-validation-for="PublisherName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="form-group">
                            <label asp-for="WebsiteAddress" class="form-label"></label>
                            <input asp-for="WebsiteAddress" class="form-control" />
                            <span asp-validation-for="WebsiteAddress" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="form-group">
                            <label asp-for="ContactInformation.Email" class="form-label"></label>
                            <input asp-for="ContactInformation.Email" class="form-control" type="email" />
                            <span asp-validation-for="ContactInformation.Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="form-group">
                            <label asp-for="ContactInformation.PhoneNumber" class="form-label"></label>
                            <input asp-for="ContactInformation.PhoneNumber" class="form-control"  />
                            <span asp-validation-for="ContactInformation.PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <partial name="_AddressPartial" for="@Model.ContactInformation.Address" />
        </div>
    </div>

    <div class="d-flex align-items-end justify-content-end myfab-container">
        <button type="submit" class="btn btn-primary myfab">Add Publisher</button>
    </div>
</form>

@section Error {
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="d-flex flex-column align-items-center">
            <div class="alert alert-danger" style="width: fit-content">
                @Model.ErrorMessage
            </div>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}