@model Nika1337.Library.Presentation.Models.Publishers.PublisherDetailedViewModel

@{
    Layout = "_DetailLayout";
    ViewData["Title"] = Model.PublisherName;
    var userAction = Model.DeletedDate == null ? "Delete" : "Renew";
    var actionButtonClass = Model.DeletedDate == null ? "btn-danger" : "btn-warning";
}

<form asp-route="Books/Publishers/" method="post" class="needs-validation" novalidate>
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="card mb-4">
                <h5 class="card-header">Add Room</h5>
                <div class="card-body">
                    <input type="hidden" asp-for="Id" />

                    <div class="mb-3">
                        <div class="form-group">
                            <label asp-for="PublisherName" class="form-label"></label>
                            <input asp-for="PublisherName" class="form-control" />
                            <span asp-validation-for="PublisherName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="form-group">
                            <label asp-for="WebsiteAddress" class="form-label"></label>
                            <input asp-for="WebsiteAddress" class="form-control" />
                            <span asp-validation-for="WebsiteAddress" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="form-group">
                            <label asp-for="ContactInformation.Email" class="form-label"></label>
                            <input asp-for="ContactInformation.Email" class="form-control" type="email" />
                            <span asp-validation-for="ContactInformation.Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="form-group">
                            <label asp-for="ContactInformation.PhoneNumber" class="form-label"></label>
                            <input asp-for="ContactInformation.PhoneNumber" class="form-control" />
                            <span asp-validation-for="ContactInformation.PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <partial name="_AddressPartial" for="@Model.ContactInformation.Address" />
        </div>

        <div class="d-flex align-items-end justify-content-end myfab-container">
            <div class="d-flex flex-column">
                <button type="submit" class="btn btn-primary myfab mb-2">Save Changes</button>
                <button type="button" class="btn @actionButtonClass myfab" data-bs-toggle="modal" data-bs-target="#actionModal">@userAction</button>
            </div>
        </div>
</form>

@section ActionModal {
    @await Html.PartialAsync("_ActionConfirmationModalPartial", new Nika1337.Library.Presentation.Models.Shared.ActionConfirmationModalViewModel(userAction, actionButtonClass, "Publisher"));
}

@section Error {
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="d-flex flex-column align-items-center">
            <div class="alert alert-danger" style="width: fit-content">
                @Model.ErrorMessage
            </div>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script src="~/js/Shared/ActionModal.js"></script>
    <script src="~/js/Library/Publishers/Publisher.js"></script>

    <script>
        const id = '@Model.Id';
        const userAction = '@userAction';
    </script>
}
