@model Nika1337.Library.Presentation.Models.EmployeeAccount.ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}

<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <h5 class="card-header">Change Password</h5>
                <div class="card-body">
                    <form asp-controller="EmployeeAccount" asp-action="ChangePassword" method="post" class="needs-validation" novalidate>
                        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                        {
                            <div class="alert alert-danger">
                                @Model.ErrorMessage
                            </div>
                        }
                        <div class="mb-3">
                            <label asp-for="CurrentPassword" class="form-label"></label>
                            <div class="input-group">
                                <input asp-for="CurrentPassword" class="form-control" type="password" id="currentPassword" required>
                                <button class="btn btn-outline-secondary" type="button" id="toggleCurrentPassword">Show</button>
                            </div>
                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="NewPassword" class="form-label"></label>
                            <div class="input-group">
                                <input asp-for="NewPassword" class="form-control" type="password" id="newPassword" required>
                                <button class="btn btn-outline-secondary" type="button" id="toggleNewPassword">Show</button>
                            </div>
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="RepeatPassword" class="form-label"></label>
                            <div class="input-group">
                                <input asp-for="RepeatPassword" class="form-control" type="password" id="repeatPassword" required>
                                <button class="btn btn-outline-secondary" type="button" id="toggleRepeatPassword">Show</button>
                            </div>
                            <span asp-validation-for="RepeatPassword" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-primary">Change Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

 @section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/Shared/PasswordToggle.js"></script>

    <script>
        togglePasswordVisibility('newPassword', 'toggleNewPassword');
        togglePasswordVisibility('repeatPassword', 'toggleRepeatPassword');
        togglePasswordVisibility('currentPassword', 'toggleCurrentPassword');
    </script>
 }
