@{
    ViewData["Title"] = "Confirm Email";
}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header">
                    <h4 class="card-title text-center">Email Successfully Confirmed</h4>
                </div>
                <div class="card-body text-center">
                    <p>An email has been successfully sent to your inbox. Please check your email for further instructions.</p>
                    <p>If you do not see the email, please check your spam or junk folder.</p>
                    <a href="/" class="btn btn-primary">Return to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>