@model Nika1337.Library.Presentation.Models.EmployeeAccount.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot Password";
}

<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <h5 class="card-header">Forgot Password</h5>
                <div class="card-body">
                    <form asp-controller="EmployeeAccount" asp-action="ForgotPassword" method="post" class="needs-validation" novalidate>
                        <div class="mb-3">
                            <label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email" class="form-control" type="email" required>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-primary w-100">
                            Send Verification Email
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
