@model Nika1337.Library.Presentation.Models.EmployeeAccount.EmployeePersonalProfileViewModel

@{
    ViewData["Title"] = "Profile";
    List<SelectListItem> genders = new List<SelectListItem>
    {
        new SelectListItem { Text = "Male", Value = "Male" },
        new SelectListItem { Text = "Female", Value = "Female" },
        new SelectListItem { Text = "Other", Value = "Other" }
    };
}

<div class="pt-5">
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="d-flex flex-column align-items-center">
            <div class="alert alert-danger" style="width: fit-content">
                @Model.ErrorMessage
            </div>
        </div>
    }
    <form asp-action="Profile" asp-controller="EmployeeAccount" method="post" class="needs-validation">
        <div class="row">
            <!-- Account Info Card - 1/3 width -->
            <div class="col-md-4">
                <div class="card mb-3">
                    <h5 class="card-header">Account Info</h5>
                    <div class="card-body">
                        <div class="mb-3">
                            <label asp-for="FirstName" class="form-label"></label>
                            <input asp-for="FirstName" class="form-control" required>
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="LastName" class="form-label"></label>
                            <input asp-for="LastName" class="form-control" required>
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Username" class="form-label"></label>
                            <input asp-for="Username" class="form-control" required>
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="PhoneNumber" class="form-label"></label>
                            <input asp-for="PhoneNumber" class="form-control">
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Gender" class="form-label"></label>
                            <select asp-for="Gender" class="form-control" required>
                                <option value="">Select Gender</option>
                                @foreach (var gender in genders)
                                {
                                    <option value="@gender.Value">@gender.Text</option>
                                }
                            </select>

                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Address Card - 1/3 width -->
            <div class="col-md-4">
                <div class="card mb-3">
                    <h5 class="card-header">Address</h5>
                    <div class="card-body">
                        <div class="mb-3">
                            <label asp-for="Country" class="form-label"></label>
                            <input asp-for="Country" class="form-control">
                            <span asp-validation-for="Country" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="State" class="form-label"></label>
                            <input asp-for="State" class="form-control">
                            <span asp-validation-for="State" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="City" class="form-label"></label>
                            <input asp-for="City" class="form-control">
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Street" class="form-label"></label>
                            <input asp-for="Street" class="form-control">
                            <span asp-validation-for="Street" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="PostalCode" class="form-label"></label>
                            <input asp-for="PostalCode" class="form-control">
                            <span asp-validation-for="PostalCode" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Read Only Info Card - 1/3 width -->
            <div class="col-md-4">
                <div class="card mb-3">
                    <h5 class="card-header">Read Only Info</h5>
                    <div class="card-body">
                        <div class="mb-3">
                            <label asp-for="DateOfBirth" class="form-label"></label>
                            <input asp-for="DateOfBirth" class="form-control" type="date" readonly>
                        </div>

                        <div class="mb-3">
                            <label asp-for="IdNumber" class="form-label"></label>
                            <input asp-for="IdNumber" class="form-control" readonly>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email" class="form-control" readonly>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Salary" class="form-label"></label>
                            <input asp-for="Salary" class="form-control" readonly>
                        </div>
                        <div class="mb-3">
                            <label asp-for="StartDate" class="form-label"></label>
                            <input asp-for="StartDate" class="form-control" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="myfab-container">
            <button type="submit" class="btn btn-primary myfab">
                Save
            </button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
