@model Nika1337.Library.Presentation.Models.EmployeeAccount.SignInViewModel

@{
    ViewData["Title"] = "Sign In";
}

<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <h5 class="card-header">Sign In</h5>
                <div class="card-body">
                    <form asp-controller="EmployeeAccount" asp-action="SignIn" method="post" class="needs-validation" novalidate>
                        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                        {
                            <div class="alert alert-danger">
                                @Model.ErrorMessage
                            </div>
                        }
                        <div class="mb-3">
                            <label asp-for="Username" placeholder="johndoe1293" class="form-label"></label>
                            <input asp-for="Username" class="form-control" required>
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Password" class="form-label"></label>
                            <div class="input-group">
                                <input asp-for="Password" class="form-control" type="password" name="password" id="password" required>
                                <button class="btn btn-outline-secondary" type="button" id="togglePassword">Show</button>
                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-dark w-100">Sign In</button>
                        <div class="mt-3 text-center">
                            <a asp-controller="EmployeeAccount" asp-action="ForgotPassword">Forgot your password?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        (function () {
            'use strict';

            var togglePasswordButton = document.getElementById('togglePassword');
            var passwordInput = document.getElementById('password');

            togglePasswordButton.addEventListener('click', function () {
                if (passwordInput.type === 'password') {
                    passwordInput.type = 'text';
                    togglePasswordButton.textContent = 'Hide';
                } else {
                    passwordInput.type = 'password';
                    togglePasswordButton.textContent = 'Show';
                }
            });

            
        })();
    </script>
}
