@model Nika1337.Library.Presentation.Models.BookEditions.BookEditionCreateViewModel

@{
    Layout = "_DetailLayout";
    ViewData["Title"] = "Add Book Edition";

    var bookId = ViewContext.RouteData.Values["bookId"] as string;

    var breadcrumbItems = new List<BreadcrumbItem>
    {
        new()
        {
            Label = "Books",
            Url = "/Books"
        },
        new()
        {
            Label = bookId ?? "Book",
            Url = $"/Books/{bookId}"
        },
        new()
        {
            Label = "Book Editions",
            Url = $"/Books/{bookId}/BookEditions"
        },
        new()
        {
            Label = "Add",
            Url = $"/Books/{bookId}/BookEditions/AddBookEdition"
        }
    };
}

@section Breadcrumb {
    @await Html.PartialAsync("_BreadcrumbPartial", breadcrumbItems)
}

<form asp-action="AddBookEdition" method="post" class="needs-validation" novalidate>
    <div class="row justify-content-center">
        <div class="col-xl-8">
            <div class="card mb-4">
                <h5 class="card-header">Add Book Edition</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label asp-for="Isbn" class="form-label"></label>
                                <input asp-for="Isbn" class="form-control" maxlength="20" />
                                <span asp-validation-for="Isbn" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label asp-for="PageCount" class="form-label"></label>
                                <input asp-for="PageCount" class="form-control" type="number" min="1" />
                                <span asp-validation-for="PageCount" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label asp-for="PublicationDate" class="form-label"></label>
                                <input asp-for="PublicationDate" class="form-control" type="date" />
                                <span asp-validation-for="PublicationDate" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label asp-for="LanguageId" class="form-label"></label>
                                <select asp-for="LanguageId" id="LanguageId" class="form-select"></select>
                                <span asp-validation-for="LanguageId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label asp-for="PublisherId" class="form-label"></label>
                                <select asp-for="PublisherId" id="PublisherId" class="form-select"></select>
                                <span asp-validation-for="PublisherId" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label asp-for="RoomId" class="form-label"></label>
                                <select asp-for="RoomId" id="RoomId" class="form-select"></select>
                                <span asp-validation-for="RoomId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label asp-for="CopiesCount" class="form-label"></label>
                                <input asp-for="CopiesCount" class="form-control" type="number" min="1" />
                                <span asp-validation-for="CopiesCount" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex align-items-end justify-content-end myfab-container">
                        <button type="submit" class="btn btn-primary myfab">Add Book Edition</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Error {
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="d-flex flex-column align-items-center">
            <div class="alert alert-danger" style="width: fit-content">
                @Model.ErrorMessage
            </div>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <!-- Include Choices JavaScript (latest) -->
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>

    <script src="~/js/Library/BookEditions/AddBookEdition.js"></script>
}

@section Styles {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
}