@model Nika1337.Library.Presentation.Models.Shared.AddressViewModel
@inject IViewLocalizer Localizer

<div class="card mb-3 needs-validation">
    <h5 class="card-header">@Localizer["Address"]</h5>
    <div class="card-body">
        <div class="mb-3">
            <label asp-for="Country" class="form-label"></label>
            <input asp-for="Country" class="form-control">
            <span asp-validation-for="Country" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="State" class="form-label"></label>
            <input asp-for="State" class="form-control">
            <span asp-validation-for="State" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="City" class="form-label"></label>
            <input asp-for="City" class="form-control">
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Street" class="form-label"></label>
            <input asp-for="Street" class="form-control">
            <span asp-validation-for="Street" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PostalCode" class="form-label"></label>
            <input asp-for="PostalCode" class="form-control">
            <span asp-validation-for="PostalCode" class="text-danger"></span>
        </div>
    </div>
</div>