<div class="form-check">
    <input type="checkbox" class="form-check-input" id="includeDeleted" onclick="filter()" checked>
    <label class="form-check-label" for="includeDeleted">Include Deleted</label>
</div>