@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Authorization

@if (Context?.User?.Identity?.IsAuthenticated == true)
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" asp-controller="EmployeeAccount" asp-action="EmployeeProfile">
            @Context?.User?.Identity?.Name
        </a>
        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-start">
            <li>
                <a class="dropdown-item" asp-controller="EmployeeAccount" asp-action="EmployeeProfile">
                    Profile
                </a>
            </li>
            <li>
                <a class="dropdown-item" asp-controller="EmployeeAccount" asp-action="ChangePassword">
                    Change Password
                </a>
            </li>
            <li>
                <a class="dropdown-item" asp-controller="EmployeeAccount" asp-action="ChangeEmail">
                    Change Email
                </a>
            </li>
            <li>
                <form asp-controller="EmployeeAccount" asp-action="SignOut" method="post" class="form-inline">
                    <button type="submit" class="btn btn-link dropdown-item">Sign Out</button>
                </form>
            </li>
        </ul>
    </li>
}