@inject IViewLocalizer Localizer

<div class="input-group">
    <input type="text" id="searchTerm" class="form-control" placeholder=@Localizer["Search..."]">
    <button class="btn btn-outline-secondary" type="button" onclick="search()">@Localizer["Search"]</button>
</div>