<div class="input-group">
    <input type="text" id="searchTerm" class="form-control" placeholder="Search...">
    <button class="btn btn-outline-secondary" type="button" onclick="search()">Search</button>
</div>