@inject IViewLocalizer Localizer

<div class="dropdown mb-4" style="width: fit-content">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="min-width: 200px">
        <span id="sortLabel">
            @Localizer["Sort"]
        </span>
    </button>
    <ul class="dropdown-menu" style="width: fit-content" id="sortOptionsMenu">
        <!-- Sort options will be populated here -->
    </ul>
</div>