@{
    ViewData["Title"] = "Access Denied";
}
<div class="container">
    <div class="row position-absolute top-50 start-50 translate-middle">
        <div class="col-md-2 text-center">
            <p><i class="fa fa-exclamation-triangle fa-5x"></i><br />Status Code: 403</p>
        </div>
        <div class="col-md-10 text-start">
            <h3>Access Denied</h3>
            <h2 class="text-warning">You do not have permission to view this page.</h2>
            <p>Please contact your administrator if you believe this is a mistake.</p>
            <a class="btn btn-danger" href="javascript:history.back()">Go Back</a>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
