@model Exception;

@{
    ViewData["Title"] = "Something Went Wrong";
}

<div class="position-absolute top-50 start-50 translate-middle">
    <div class="text-center">
        <h1 class="display-1 fw-bold">Ooops!</h1>
        <p class="fs-3"> <span class="text-danger">Opps!</span>Something went wrong</p>
        <p class="lead">
            Unexpected Error Occured!
        </p>
        <a href="/" class="btn btn-primary">Go Home</a>
    </div>
</div>