@model Nika1337.Library.Presentation.Models.Languages.LanguageDetailedViewModel
@{
    Layout = "_DetailLayout";
    ViewData["Title"] = Model.Name;
    var userAction = Model.DeletedDate == null ? "Delete" : "Renew";
    var actionButtonClass = Model.DeletedDate == null ? "btn-danger" : "btn-warning";

    var breadcrumbItems = new List<BreadcrumbItem>
    {
        new()
        {
            Label = "Languages",
            Url = "/Languages"
        },
        new()
        {
            Label = "Details",
            Url = $"/Languages/{Model.Id}"
        }
    };
}

@section Breadcrumb {
    @await Html.PartialAsync("_BreadcrumbPartial", breadcrumbItems)
}


<form asp-route="Books/Languages" method="post" class="needs-validation" novalidate>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mb-4">
                <h5 class="card-header">Language Information</h5>
                <div class="card-body">
                    <input type="hidden" asp-for="Id" />
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label asp-for="Name" class="form-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label asp-for="DeletedDate" class="form-label"></label>
                                <input asp-for="DeletedDate" class="form-control" type="date" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="d-flex align-items-end justify-content-end myfab-container">
                            <div class="d-flex flex-column">
                                <button type="submit" class="btn btn-primary myfab mb-2">Save Changes</button>
                                <button type="button" class="btn @actionButtonClass myfab" data-bs-toggle="modal" data-bs-target="#actionModal">@userAction</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Error {
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="d-flex flex-column align-items-center">
            <div class="alert alert-danger" style="width: fit-content">
                @Model.ErrorMessage
            </div>
        </div>
    }
}


@section ActionModal {
    @await Html.PartialAsync("_ActionConfirmationModalPartial", new Nika1337.Library.Presentation.Models.Shared.ActionConfirmationModalViewModel(userAction, actionButtonClass, "Language"))
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/Shared/ActionModal.js"></script>
    <script src="~/js/Books/Languages/Language.js"></script>
    <script>
        var id = '@Model.Id';
        var userAction = '@userAction';
    </script>
}